<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="visor-javier">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <div class="container">

      <div class="row">

        <img src="[[imageSrc]]" class="col-lg-8 col-xs-12"></img>
        </br>
        <button type="button" name="button" class="btn btn-danger col-lg-8 col-xs-12">[[buttonText]]</button>
        </br>
        <table class="table table-striped col-lg-8 col-xs-12">
          </br>
          <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
          </thead>
          <tbody>
            <tr>
              <td>[[text1]]</td>
              <td>[[text2]]</td>
              <td>[[text3]]</td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorJavier extends Polymer.Element {
      static get is() { return 'visor-javier'; }
      static get properties() {
        return {
          imageSrc: {
            type: String,
            value: 'https://upload.wikimedia.org/wikipedia/commons/7/7a/Escudo_Real_madrid_1931.png'
          },
          buttonText: {
            type: String,
            value: 'Cargar datos'
          },
          text1: {
            type: String,
            value: 'Valor 1'
          },
          text2: {
            type: String,
            value: 'Valor 2'
          },
          text3: {
            type: String,
            value: 'Valor 3'
          }
        };
      }
    }

    window.customElements.define(VisorJavier.is, VisorJavier);
  </script>
</dom-module>
